@media screen and (max-width:1600px) {
    header .navbar {
        margin: 20px 170px !important;
    }

    .footer-wrap .container-fluid,
    .inner-about .container-fluid,
    .testimonial-inner .container-fluid,
    .inner-faq .container-fluid,
    .banner-wrap .container-fluid,
    .inner-about-detail .container-fluid {
        width: 80%;
    }

}

@media screen and (max-width:1440px) {
    header .navbar {
        margin: 20px 90px !important;
    }

    header .navbar .nav-item a {
        font-size: 17px;
        margin: 0px 7px;
    }

    header .nav-cta-btn {
        font-size: 16px;
    }

    .footer-wrap .container-fluid,
    .inner-about .container-fluid,
    .testimonial-inner .container-fluid,
    .inner-faq .container-fluid,
    .banner-wrap .container-fluid,
    .inner-about-detail .container-fluid {

        width: 95%;
    }

    .about-overlay-1 {
        left: -12%;
    }

    .custom-prev {
        margin-left: 0%;
    }

    .custom-next {
        margin-right: -0%;
    }

    .about-right .main-head {
        font-size: 32px;
    }

    .inner-faq .main-head {
        font-size: 28px;
    }

    .service-wrap .main-head {
        font-size: 28px;
    }

    .services-1 p {
        font-size: 16px !important;
    }

    .service-detail-content ul li {
        padding: 10px 15px;
        font-size: 14px;
    }

    .home-services-card h3 a {
        font-size: 18px;
    }

    .price-wrap .price-card-head h4 {
        font-size: 24px;
    }

    .price-wrap .price-card-content ul li {
        font-size: 14px;
    }

    .about-left .main-img {
        width: 90%;
    }

    .about-overlay-2 img {
        width: 180px;
        height: 180px;
    }

    .about-overlay-1 img {
        width: 150px;
        height: 100px;
    }

    .about-overlay-3 img {
        width: 70;
    }

    .main-head {
        font-size: 28px;
    }

    .home-services-card p {
        font-size: 14px;
    }

    .testimonial-inner .testimonial-content p {
        font-size: 14px;
    }

    .inner-faq .accordion-item button {
        font-size: 16px;
    }

    .faq-right img {
        width: 70%;
    }

    .project-faq .container-fluid {
        width: 96%;
    }

    .project-info-ul li {
        font-size: 15px;
    }

    .contant-1 p {
        font-size: 14px;
    }

    .about-why-right img {
        width: 80%;
    }

}

@media screen and (max-width:1200px) {
    header .navbar {
        margin: 20px 50px !important;
    }

    .service-wrap .service-inner h2 {
        margin-bottom: 10px;
    }

    .custom-btn a {
        position: relative;
        color: var(--color-white) !important;
        background-color: var(--color-secondary);
        padding: 5px 10px;
        font-size: 16px;
    }


    .about-detail-right .para {
        font-size: 16px;
    }

    .testimonial-inner .testimonial-card img {
        width: 440px !important;
        height: 115px !important;
    }

    .banner-wrap .banner-carousel .banner-left {
        padding-top: 130px;
    }

    .service-detail-content .head-row::after {
        bottom: -9px;

    }

    .service-wrap .service-inner ul {
        padding-left: 5px;
    }

    .banner-wrap {
        height: 450px
    }

    .banner-right {
        padding-top: 20px;
    }

    .services-all {

        height: 160px !important;
    }

    .faq-right img {
        width: 70%;
    }

    .inner-faq .accordion-item button {
        font-size: 14px;
        padding: 10px 15px;
    }

    .testimonial-inner .main-head {
        font-size: 28px;
    }

    .price-wrap .price-card-head h4 {
        font-size: 24px;
    }

    .price-wrap .price-card .price-card-content {
        padding: 30px 15px;
    }

    .about-detail-right .main-head {
        font-size: 28px;
    }

    .inner-blog .main-head {
        font-size: 30px;
    }

    .inner-project .container-fluid {
        width: 95%;
    }

    .inner-project .work-overlay {
        width: 88%;
    }

    .inner-project .work-overlay h2 {
        font-size: 18px;
    }

    .inner-project .work-overlay p {
        line-height: 20px;
        font-size: 13px;
    }

    .services-1 h2 {
        font-size: 22px !important;
    }

    .technology-icon-wrap .item {
        width: 70px;
        height: 70px;
    }

    .service-inner .sub-head-1 {
        font-size: 18px;

    }

    .service-inner .sub-head {
        font-size: 18px;
    }

    .about-right .main-head {
        font-size: 26px;
    }

    .about-right p {
        font-size: 16px;
    }

    .custom-list li {
        font-size: 16px;
    }

    .inner-services .main-head {
        font-size: 28px;
    }

    .home-services-card h3 a {
        color: var(--color-bg);
        font-size: 18px;
    }

    .inner-project-detail .main-head {
        font-size: 22px;
    }

    .inner-project .main-head {
        font-size: 24px;
    }

}

@media screen and (max-width:1100px) {
    header .navbar {
        margin: 10px 15px !important;
    }

    header .navbar .nav-item a {
        font-size: 17px;
        margin: 0px 4px;
    }

    .inner-price .main-head {
        font-size: 28px;
    }



}

@media screen and (max-width:991px) {
    .about-left .main-img {
        width: 80%;
    }

    .service-wrap .main-head {
        font-size: 25px;
    }

    .services-detail-right {
        display: none !important;
    }

    .services-detail-left p {
        font-size: 16px;
        text-align: justify;
    }

    .about-overlay-2 img {
        width: 200px;
        height: 130px;
    }

    .about-why-inner img {
        width: 50%;
    }

    .about-why-left .main-head {
        font-size: 28px;
    }

    .footer-wrap .container-fluid,
    .inner-about .container-fluid,
    .testimonial-inner .container-fluid,
    .inner-faq .container-fluid,
    .banner-wrap .container-fluid {
        width: 98%;
    }

    #scrollTopBtn {
        bottom: 25px;
        right: 25px;
    }

    .about-overlay-1 img {
        width: 175px;
        height: 120px
    }

    .faq-right img {
        width: 42%;
    }


    .testimonial-inner .testimonial-card img {
        width: 440px !important;
        height: 85px !important;
    }

    .custom-nav button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .banner-right img {
        width: 100% !important;
    }

    .banner-wrap .banner-carousel .banner-left {
        padding-top: 60px;
    }

    .banner-left h1 {
        font-size: 28px;
    }

    .custom-btn a {
        padding: 6px 10px;
        font-size: 14px;
    }

    .banner-wrap .social-icon {
        padding: 10px 5px
    }

    .banner-wrap .social-icon:not(:first-child)::after {
        left: 13px;
    }

    .banner-wrap .banner-social {
        gap: 10px;
    }

    .banner-wrap {
        height: 414px;
    }

    .inner-about {
        padding: 10px 0px;
    }

    .inner-services .main-head {
        font-size: 28px;
    }

    .inner-services {
        padding: 21px 0px;
    }

    .inner-faq .main-head {
        font-size: 26px;
    }

    .about-detail-left img {
        width: 40%;
    }

    .contact-form-header p {
        margin-bottom: 0px !important;
        font-size: 16px;
    }

    .blog-card .blog-img-center img {
        width: 100%;
        height: auto;
    }

    .blog-image {
        padding: 10px 10px 0 10px;
    }

    .inner-blog .main-head {
        font-size: 26px;
    }

    .cta-right {
        display: none !important;
    }

    .cta-right img {
        width: 80%;
    }

    .inner-about-detail {
        padding: 20px 0px;
    }

    .navbar-nav .nav-link:not(.dropdown-toggle):hover::after,
    .navbar-nav .nav-link.active:not(.dropdown-toggle)::after {
        width: 0% !important;
    }

    .navbar-nav .nav-link:hover i {
        color: #684DF4;
    }

    .project-info-ul li {
        font-size: 14px;
    }

    .inner-project-detail .sub-head {
        font-size: 20px;
        margin: 10px 0px;
    }

    .project-detail-ul li {
        position: relative;
        padding-left: 28px;
        font-size: 15px;
    }

    .technology-ul li {
        padding: 5px 10px;
        font-size: 14px;
    }

    .client-word .testimonial {
        font-size: 14px;
    }

    .client-word {
        padding: 20px 15px;
    }

    .project-gallery .main-head {
        font-size: 22px;
    }

    .project-gallery p {
        font-size: 15px;
    }

    .project-gallery-img .project-gallery-overlay h2 {
        font-size: 15px;
    }

    .project-gallery-img .project-gallery-overlay {
        padding: 10px 15px;
    }

    .navbar {
        margin: 15px 250px;
        border-radius: 120px;
        padding: 10px 40px;
    }

    header .navbar-toggler {
        font-size: 22px;
        padding: 8px;
    }
}

@media screen and (max-width:767px) {
    .footer-wrap {
        padding: 45px 0px;
    }

    .about-detail-right p {
        text-align: justify;
    }

    .copyright-wrap .footer-links {
        justify-content: center;
    }

    .about-why-left p {
        text-align: justify;
    }

    .contact-img-overlay img {
        width: 30px;
        height: 30px;
    }

    .contact-card {
        padding: 20px 10px 10px;
    }

    .project-detail-right {
        padding: 10px 0px;
    }

    .copyright-wrap p {
        display: flex;
        justify-content: center;
        margin-bottom: 10px !important;
    }

    .service-technology {
        padding: 10px 0px;
    }

    .main-head {
        width: 100%;
    }

    .inner-price .main-head {
        font-size: 24px;
    }

    .inner-about {
        padding: 20px 0px;
    }

    .testimonial-inner .testimonial-card img {
        width: 400px !important;
        height: 140px !important;
    }

    .testimonial-inner .main-head {
        font-size: 28px;
    }

    .inner-faq .main-head {
        font-size: 26px;
    }

    .banner-left h1 {
        font-size: 24px;
    }

    .inner-services .main-head {
        font-size: 24px;
    }

    .services-all {
        height: 115px !important;
    }

    .testimonial-inner .testimonial-card {

        min-height: 200px;
    }

    .testimonial-inner {
        padding: 12px 0px;
    }

    .inner-faq .main-head {
        font-size: 24px;
    }

    .contact-form {
        padding: 20px 15px;
    }

    .inner-project .work-overlay {
        bottom: 5%;
    }

    .inner-cta {
        padding: 25px 0px;
    }

    .inner-cta p {
        text-align: justify;
        font-size: 14px;
    }

    .inner-sub-banner p {
        font-size: 16px;
    }

    .inner-sub-banner .main-head {
        font-size: 28px;
    }

    .service-wrap {
        padding: 20px 0;
    }

    .technology-icon-wrap .item {
        width: 60px;
        height: 60px;
    }

    .services-faq-head {
        padding-bottom: 20px;
    }

    .project-faq .accordion-button::after {
        font-size: 16px !important;
    }

    .text-overlay-1 img {
        width: 50%;
    }

    .technology-icon-wrap {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;
        gap: 15px;
        padding-bottom: 10px;
        scroll-snap-type: x mandatory;
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
    }

    .technology-icon-wrap .item {
        flex: 0 0 auto;
        scroll-snap-align: start;
    }

    .technology-icon-wrap::-webkit-scrollbar {
        height: 8px;
    }

    .technology-icon-wrap::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .technology-icon-wrap::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .technology-icon-wrap::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .service-wrap .service-inner p {
        text-align: justify;
    }

    .service-wrap .service-inner {
        background-color: #ffffff;
        box-shadow: none !important;
        padding: 5px;
    }

    .technology-icon-wrap .item {
        width: 75px;
        height: 75px;
    }

    .project-faq .col-md-6 {
        margin-top: 0px !important;
    }

    .inner-project-detail .main-head {
        font-size: 20px;
    }

    .inner-project-detail {
        padding: 20px 0px;
    }

    .project-faq {
        padding: 10px 0px 30px 0px;
    }

    .project-gallery {
        padding: 10px 0px;
    }

    .inner-project {
        padding: 20px 0px;
    }

    .work-icon-overlay a {
        padding: 2px 17px
    }

    .work-icon-overlay {
        bottom: 9%;
    }

    .inner-process {
        padding: 20px 0;
    }

    header .navbar {
        margin: 10px 20px !important;
    }

    header .navbar-toggler {
        font-size: 18px;
        padding: 6px;
    }


}


@media screen and (max-width:575px) {
    header .navbar {
        padding: 10px 20px;
    }

    header .navbar-brand img {
        width: 130px;
        height: auto;

    }

    .services-faq-head {
        padding-bottom: 10px;
    }

    .text-overlay-1 {
        top: 30%;
    }

    .inner-sub-banner {
        width: 100%;
        padding: 20px 0 3px 0;
    }

    .inner-cta h2 {
        font-size: 22px;
    }

    header .navbar-toggler {
        font-size: 18px;
        padding: 6px;
    }

    .inner-project .work-overlay {
        width: 95%;
    }


    .about-left {
        display: none !important;
    }

    .about-right .main-head {
        font-size: 28px;
    }

    .footer-wrap .container-fluid,
    .inner-about .container-fluid {
        width: 100%;
    }

    .custom-btn a {
        padding: 6px 12px;
        font-size: 15px;
    }

    .footer-wrap .foot-content ul li a {
        font-size: 16px;
    }

    .footer-wrap h3 {
        font-size: 24px;
    }

    .footer-wrap ul li {
        margin: 10px 0px !important;
    }

    .copyright-wrap p {
        font-size: 16px;
    }

    .custom-list li {
        font-size: 15px;
    }

    .about-right p,
    .home-services-card p {
        font-size: 16px;
    }

    .home-services-card {
        padding: 20px 15px 30px 15px;
    }

    .inner-services .service-img img {
        width: 15%;
    }

    .home-services-card h3 a {
        font-size: 20px;
    }

    .testimonial-inner .testimonial-card img {
        width: 300px !important;
        height: 80px !important;
    }

    .testimonial-inner .testimonial-card {
        display: flex;
        gap: 10px !important;
        flex-direction: column;
    }

    .services-1 h2 {
        font-size: 18px !important;
    }

    .services-1 p {
        font-size: 14px !important;
    }

    .service-detail-content ul li {
        padding: 10px 10px;
        font-size: 14px;
    }

    .testimonial-carousel .item {
        position: relative;
    }

    .testimonial-inner .testimonial-card {
        padding: 50px 15px 30px 15px;

    }

    .inner-faq .accordion-item button {
        width: 100%;
        background-color: #fff;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        padding: 13px 10px
    }

    .testimonial-card .text-img {
        display: flex;
        justify-content: center;
        position: absolute;
        top: -15%;
        left: 5%;
        z-index: 10;
    }


    .testimonial-inner .testimonial-card img {
        width: 100px !important;
        height: 80px !important;
    }

    .price-wrap .tab-pane {
        display: none;
        padding: 3px;
    }

    .banner-right img {
        width: 40% !important;
    }

    .banner-wrap {
        height: 580px;
    }

    .banner-wrap .banner-carousel .banner-left {
        padding-top: 31px;
    }

    .banner-right img {
        width: 31% !important;
    }

    .banner-wrap {
        height: 510px;
    }

    .banner-wrap .container-fluid {
        width: 100%;
    }

    .banner-wrap .banner-social {
        left: 0px;

    }

    #scrollTopBtn {
        bottom: 20px;
        right: 20px;
        font-size: 16px;
    }

    .banner-left p {
        font-size: 14px;
        line-height: 20px;
    }

    .services-all a {
        font-size: 16px;
    }

    .about-detail-right .main-head {
        font-size: 24px;
    }

    .about-why-left .main-head {
        font-size: 24px;
    }

    .inner-about-detail {
        padding: 30px 0px;
    }

    .contact-form-header p {
        text-align: justify;
    }

    .contact-detail-form {
        padding: 15px 0px;
    }

    .contact-detail-inner {
        padding: 20px 0px;
    }

    .inner-blog .main-head {
        font-size: 24px;
    }

    .sub-banner-content .breadcrumb {
        justify-content: center;
    }

    .service-wrap .main-head {
        font-size: 18px;
    }


    .about-why-left ul li::before {
        font-size: 14px;
    }

    .service-detail-content ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .service-detail-content ul li {
        flex: 0 0 calc(50% - 15px);
    }

    .service-detail-content .benifits-item h6 {
        font-size: 18px;
    }

    p,
    li {
        font-size: 14px !important;
    }

    .main-head {
        font-size: 24px !important;
    }

    .project-faq .accordion-button {
        padding: 7px 15px;
    }

    .project-faq .accordion-button {
        font-size: 14px;
    }

    .project-faq .accordion-item {
        margin: 20px 0px !important;
    }

    .contant-1 {
        padding: 25px 0px;
        margin: 10px 0px;
    }

    .project-info-ul li {
        gap: 8px;
    }

    .inner-project .main-head {
        font-size: 20px !important;
    }

    .banner-left h1 {
        font-size: 20px;
    }

    .sub-head-1 {
        font-size: 20px;
    }

    .footer-wrap {
        padding: 30px 0px;
    }
}

@media screen and (max-width:425px) {
    .offcanvas {
        width: 260px !important;
    }

    .main-head {
        font-size: 20px !important;
    }

    .inner-project-detail .main-head {
        font-size: 20px !important;
    }

    .inner-project-detail .main-head {
        font-size: 18px !important;
        margin-bottom: 5px;
    }

    .project-gallery-img .project-gallery-overlay h2 {
        font-size: 13px;
    }

    .inner-project {
        padding: 0px 0px;
        padding-bottom: 25px;
    }

    .inner-project .main-head {
        font-size: 18px !important;
    }

    .inner-about-detail {
        padding: 5px 0px;
    }

    .contact-form-header .main-head {
        font-size: 22px;

    }

    .inner-sub-banner .main-head {
        font-size: 25px;
    }


    .inner-cta h2 {
        font-size: 20px;
    }

    .about-right .main-head {
        font-size: 24px;
    }

    .testimonial-inner .main-head {
        font-size: 22px;
    }

    .inner-faq .main-head {
        font-size: 22px;
    }

    .inner-services .main-head {
        font-size: 20px;
    }

    .banner-left h1 {
        font-size: 22px;
    }

    .banner-left .custom-btn a {
        padding: 9px 13px;
        font-size: 14px;
    }

    .inner-faq .accordion-item button {
        font-size: 14px;
    }

    .banner-wrap {
        height: 486px;
    }

    .banner-wrap .social-icon {
        font-size: 13px;
    }

    header .navbar-brand img {
        width: 130px;
    }

    header .navbar {
        padding: 8px 20px;
    }

    header .navbar {
        margin: 12px 14px !important;
    }

    .inner-price .main-head {
        font-size: 20px;
    }

    .about-detail-left img,
    .about-why-inner img {
        display: none;
    }

    .inner-blog .main-head {
        font-size: 22px;
    }

    .blog-content {
        padding: 14px;

    }

    .service-detail-content ul li::before {
        display: none;
    }

    .inner-project .work-overlay h2 {
        font-size: 15px;
    }

    .footer-wrap h3 {
        font-size: 22px;
    }

    .banner-left h4 {
        color: var(--color-primary);
        font-size: 19px;
    }


}

@media screen and (max-width:375px) {
    header .navbar {
        padding: 10px 10px;
    }

    header .navbar {
        margin: 10px 10px !important;
    }

    .banner-left h1 {
        font-size: 19px;
    }

    .inner-faq .main-head {
        font-size: 20px;
    }
}